@import '~bootstrap/scss/bootstrap.scss';

.margin-top-20 {
	margin-top: 20px;
}

.reportsTable {
	.reportNameCol {
		font-style: italic;
		width: 100px;
	}

	.textFirst {
		font-weight: bold;
	}

	.textRest {
		color: #777;
		font-style: italic;
	}
}

.label-badge {
	display: inline-block;
	margin-right: 4px;
}

.bold {
	font-weight: bold;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

$breakpoint-sm: 768px;

@media (max-width: $breakpoint-sm) {
	.hidden-sm-down {
		visibility: hidden;
	}
}